/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bourbon";
@import "base/base";
@import "neat";

body {
	font-family: $verdana;
	font-size: small;}

section {
	@include outer-container;
}

.products {
	table {
		border-collapse: collapse;
	}
	table tr td {
		padding: 5px;
		vertical-align: top;
	}
	.list_description {
		width: 60%;

		dl {
			margin: 0;
		}
		dt {
			color: #244;
			font-weight: bold;
			font-size: larger;
		}
		dd {
			margin: 0;
		}
	}

	.list_actions {
		font-size: x-small;
		text-align: right;
		padding-left: 1em;
	}

	.list_line_even {
		background: #F7F7F7;
	}

	.list_line_odd {
		background: #FCFCFC;
	}
}



